.ViewAssetTransferModal {
  > div {
    cursor: pointer;
  }

  .types {
    display: flex;
    margin-bottom: 10px;

    > .asset-detail-type {
      margin-left: 100px;
    }

    > .asset-detail-budget-type {
      margin-left: 200px;
    }
  }
  span {
    color: gray;
  }
  .locations {
    display: flex;
    > .asset-detail-to-location {
      margin-left: 40px;
    }

    > .asset-detail-from-location {
      margin-left: 36px;
      width: 300px;
    }
  }
}

.generate-view-asset-transfer-body {
  padding-bottom: 30px;

  > .asset-detail-items,
  .asset-detail-item {
    margin: auto 0;
    font-weight: 600;

    > span {
      color: gray;
      font-weight: 300;
    }
  }

  > .asset-collapse {
    margin-top: 30px;

    > .selected-cbc-numbers {
      margin: auto;
    }
  }

  .close-button {
    background-color: black;
    color: white;
    float: right;
    margin-top: 10px;

    > span {
      color: white;
    }
  }
}
