.AssetRequestActionModal {
  padding-bottom: 40px;

  > .user-details {
    display: flex;
    margin-left: 100px;
    > .user,
    > .budget,
    > .location {
      font-size: 16px;
      font-weight: 600;

      > span {
        color: gray;
        font-weight: normal;
      }
    }

    .budget {
      margin-left: 30px;
    }

    > .location {
      margin-left: 30px;
    }
  }
  > .requested-items {
    margin-top: 20px;
    border-top: 1px solid rgb(212, 212, 212);

    > .item {
      padding: 10px;
      display: flex;
      background-color: #f0f0f0;
      border-bottom: 1px solid rgb(212, 212, 212);
    }
  }

  > .actions {
    margin-top: 10px;
    float: right;

    > button {
      margin: 0 10px;
    }

    > .approve,
    > .approve:hover {
      background-color: green;
    }

    > .approve:hover {
      opacity: 0.7;
    }

    > .approve:disabled {
      background: rgb(248, 247, 247);
    }
  }

  .comment-section {
    margin-top: 55px;

    > button {
      margin-top: 20px;
      background-color: black;
      color: white;
      float: right;
      margin-left: 20px;
    }

    > button:disabled {
      background-color: gray;
    }
  }
}
