.AssetRequestOverviewModal {
  padding-bottom: 25px;

  > .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  > .steps-component {
    margin-bottom: 20px;
  }

  > .close,
  > .close:hover {
    float: right;
    background-color: black;
    color: white;
  }

  > .collapse-component {
    margin-bottom: 20px;
  }
}
